/DrumBuddy/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/DrumBuddy.Core/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/DrumBuddy.IO/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/DrumBuddy.Unit/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/DrumBuddy.Unit/bin/Debug/net8.0/CoverletSourceRootsMapping_DrumBuddy.Core.Unit
/DrumBuddy/obj/Debug/net8.0/DrumBuddy.AssemblyInfo.cs
/DrumBuddy/obj/Debug/net8.0/DrumBuddy.AssemblyInfoInputs.cache
/DrumBuddy/obj/Debug/net8.0/DrumBuddy.assets.cache
/DrumBuddy.Core/obj/Debug/net8.0/DrumBuddy.Core.AssemblyInfo.cs
/DrumBuddy.Core/obj/Debug/net8.0/DrumBuddy.Core.AssemblyInfoInputs.cache
/DrumBuddy.Core/obj/Debug/net8.0/DrumBuddy.Core.assets.cache
/DrumBuddy.Core/obj/Debug/net8.0/DrumBuddy.Core.csproj.AssemblyReference.cache
/DrumBuddy.Core/obj/DrumBuddy.Core.csproj.nuget.dgspec.json
/DrumBuddy.Core/obj/DrumBuddy.Core.csproj.nuget.g.props
/DrumBuddy.Core/obj/DrumBuddy.Core.csproj.nuget.g.targets
/DrumBuddy.Core/obj/Debug/net8.0/DrumBuddy.Core.GeneratedMSBuildEditorConfig.editorconfig
/DrumBuddy.Core/obj/Debug/net8.0/DrumBuddy.Core.GlobalUsings.g.cs
/DrumBuddy.Unit/obj/Debug/net8.0/DrumBuddy.Core.Unit.AssemblyInfo.cs
/DrumBuddy.Unit/obj/Debug/net8.0/DrumBuddy.Core.Unit.AssemblyInfoInputs.cache
/DrumBuddy.Unit/obj/Debug/net8.0/DrumBuddy.Core.Unit.assets.cache
/DrumBuddy.Unit/obj/Debug/net8.0/DrumBuddy.Core.Unit.csproj.AssemblyReference.cache
/DrumBuddy.Unit/obj/DrumBuddy.Core.Unit.csproj.nuget.dgspec.json
/DrumBuddy.Unit/obj/DrumBuddy.Core.Unit.csproj.nuget.g.props
/DrumBuddy.Unit/obj/DrumBuddy.Core.Unit.csproj.nuget.g.targets
/DrumBuddy.Unit/obj/Debug/net8.0/DrumBuddy.Core.Unit.GeneratedMSBuildEditorConfig.editorconfig
/DrumBuddy.Unit/obj/Debug/net8.0/DrumBuddy.Core.Unit.GlobalUsings.g.cs
/DrumBuddy/obj/Debug/net8.0/DrumBuddy.csproj.AssemblyReference.cache
/DrumBuddy/obj/DrumBuddy.csproj.nuget.dgspec.json
/DrumBuddy/obj/DrumBuddy.csproj.nuget.g.props
/DrumBuddy/obj/DrumBuddy.csproj.nuget.g.targets
/DrumBuddy/obj/Debug/net8.0/DrumBuddy.GeneratedMSBuildEditorConfig.editorconfig
/DrumBuddy.IO/obj/Debug/net8.0/DrumBuddy.IO.AssemblyInfo.cs
/DrumBuddy.IO/obj/Debug/net8.0/DrumBuddy.IO.AssemblyInfoInputs.cache
/DrumBuddy.IO/obj/Debug/net8.0/DrumBuddy.IO.assets.cache
/DrumBuddy.IO/obj/Debug/net8.0/DrumBuddy.IO.csproj.AssemblyReference.cache
/DrumBuddy.IO/obj/DrumBuddy.IO.csproj.nuget.dgspec.json
/DrumBuddy.IO/obj/DrumBuddy.IO.csproj.nuget.g.props
/DrumBuddy.IO/obj/DrumBuddy.IO.csproj.nuget.g.targets
/DrumBuddy.IO/obj/Debug/net8.0/DrumBuddy.IO.GeneratedMSBuildEditorConfig.editorconfig
/DrumBuddy.IO/obj/Debug/net8.0/DrumBuddy.IO.GlobalUsings.g.cs
/.idea/.idea.DrumBuddy/.idea/encodings.xml
/.idea/.idea.DrumBuddy/.idea/indexLayout.xml
/.idea/.idea.DrumBuddy/.idea/material_theme_project_new.xml
/DrumBuddy.Core/Services/MeasureToMusicXmlConverter.cs
/DrumBuddy/obj/project.assets.json
/DrumBuddy.Core/obj/project.assets.json
/DrumBuddy.IO/obj/project.assets.json
/DrumBuddy.Unit/obj/project.assets.json
/DrumBuddy/obj/project.nuget.cache
/DrumBuddy.Core/obj/project.nuget.cache
/DrumBuddy.IO/obj/project.nuget.cache
/DrumBuddy.Unit/obj/project.nuget.cache
/DrumBuddy/obj/project.packagespec.json
/DrumBuddy.Core/obj/project.packagespec.json
/DrumBuddy.IO/obj/project.packagespec.json
/DrumBuddy.Unit/obj/project.packagespec.json
/.idea/.idea.DrumBuddy/.idea/projectSettingsUpdater.xml
/DrumBuddy/obj/Debug/net8.0/Avalonia/resources
/DrumBuddy/obj/Debug/net8.0/Avalonia/Resources.Inputs.cache
/DrumBuddy/obj/rider.project.restore.info
/DrumBuddy.Core/obj/rider.project.restore.info
/DrumBuddy.IO/obj/rider.project.restore.info
/DrumBuddy.Unit/obj/rider.project.restore.info
/.idea/.idea.DrumBuddy/.idea/vcs.xml
/.idea/.idea.DrumBuddy/.idea/workspace.xml
