services:
  db:
    image: postgres:16-alpine
    container_name: userdb_postgres
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - shared_app_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5
  api:
    image: baluka1118/drumbuddy-api:latest
    platform: linux/amd64
    container_name: drumbuddy_api
    restart: always
    env_file:
      - .env
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://+:80
    ports:
      - "8080:80"
    depends_on:
      db:
        condition: service_healthy
    networks:
      - shared_app_network
volumes:
  postgres_data:
networks:
  shared_app_network:
    external: true
    name: shared_app_network